@if (book) {
  <div class="book">
    <div class="title">{{ book.title }}</div>

    <div class="price">{{ book.price| discount:19 | currency: 'USD' }}</div>

    <!--    <div class="date">{{book.publishDate | date: 'long'}}</div>-->
<!--    <a routerLink="/product/{{book.id}}">-->
      <img [src]="book.image" (click)="goToProduct()">
<!--    </a>-->

    @if (!inCart) {
      <button (click)="addToCartHandler(book)">Add To Cart</button>
    } @else {
      <button (click)="removeFromCartHandler(book)">Remove From Cart</button>
    }
  </div>
}
